@import "tailwindcss";

html{
  -ms-overflow-style: none;  
    scrollbar-width: none; 
}
html, body {
  height: 100%;
}
.scrollbar-hide {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none; 
  }
  
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  -moz-appearance: textfield;
}

